{% extends "master.html" %} {% load static %} {% block title %} About Us - IMANI
GROUP {% endblock %} {% block content %}
<body>
  <center>
    <h1>About Us</h1>
    <p>Welcome to the About Us page of IMANI GROUP.</p>
    <p>We are dedicated to providing the best services to our members.</p>
    <p>
      Our mission is to empower individuals and foster a sense of community.
    </p>
    <p>
      Founded in 2023, IMANI GROUP has been at the forefront of innovation and
      excellence.
    </p>
    <p>
      Our team is composed of passionate professionals committed to making a
      difference.
    </p>
    <p>We value integrity, collaboration, and continuous improvement.</p>

    <p>Join us on our journey to create a better future together.</p>
    <p>Contact us at</p>
  </center>
</body>

{% endblock %}
